img {
    width: auto;
    height: 150px;
    margin: 10px;
}

p {
    text-align: justify;
}

#strawberry {
    float: left;
}

#strawberry2 {
    float: right;
}

p:last-child {
    background-color: turquoise;
    clear: both;
}