.box {
    width: 150px;
    height: 150px;
    margin: 20px auto;
}

#colors {
    transition: background-color 1.5s Linear 0.5s;
    background-color: darkslateblue;
}

#colors:hover {
    background-color: yellow;
}

#box1 {
    transition: width 1.5s ;
    background-color: hotpink;
}

#box1:hover {
    width: 300px;
}

#box2 {
    transition: height 1.5s ;
    background-color: orange;
}

#box2:hover {
    height: 300px;
}

#box3 {
    transition: height 1.5s, width 1.5s ;
    background-color: tomato;
}

#box3:hover {
    height: 50px;
    width: 50px
}