@mixin iconki-header {
    margin-top: 5px;
    font-size: 2rem;
    float: left;
    margin-right: 0.8rem;
}

@mixin inputs {
    color: black;
    width: 100%;
    margin-top: 10px;
}

@mixin iconki-footer {
    background-color: $zolty;
    color: black;
    padding: 10px;
}