@import 'zmienne';
@import 'mixiny';

* {
    box-sizing: border-box;
    color: whitesmoke;
}

body {
    margin: 0;
    font-family: $main-font;
    background-color:$niebiesko-granatowy;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    #main-logo{
        display: inline-block;
        margin-left: 30px;
        h1 {
            display: inline-block;
            margin: 0;
        }
        i {
            @include iconki-header;
            color: $zolty;
        }
    }
    .header-contact{
        display: inline-block;
        float: right;
        width: 300px;
        margin-top: 20px;
        span {
            display: block;
            &.call {
                font-size: 0.8rem;
            }
            &.phone {
                font-size: 0.8rem;
            }
        }
        i {
            @include iconki-header;
        }
    }
}

//header end

//form-section start

#form-section {
    background-image: url(../img/background.png);
    height: 100vh;
    background-position: top;
    background-size: cover;

    .form-section-right {

        //sposob Bartka
        // float: right;
        // margin-top: 10rem;
        // width: 370 px;

        position: absolute;
        right: 8%;
        width: 370px;
        top: 25%;
        .yellow {
            color: $zolty;
        }

        #main-form {
            background-color: $niebiesko-granatowy;
            fieldset {
                border-style: none;
                input:not([type="submit"]),   //bez sumbita
                textarea {
                    @include inputs;
                }
                input[type="submit"]{
                    background-color: $zolty;
                    font-size: 1.1rem;
                    padding: 10px;
                    font-weight: 700;
                    color: black;
                    border-color: $zolty;
                    margin-top: 10px;
                }
            }
        }
    }
    
}

// koniec section

// footer

footer {
    background-color: $szary;
    padding: 20px;

    .container1 {
        display: flex; 
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        i {
            @include iconki-footer;
        }
    }

    .container {
        margin-top: 25px;

        p {
            text-align: center; 
            font-size: 0.7rem;
        }
    }

    //.phone-footer {
        //display: inline-block;
        // width: 50%;
        // float: left;
        // margin-bottom: 30px;
    //}
}