
.main {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.main > * {
    flex: 1 100%;
  }

.text p {
    margin-block-end: 0em;
    margin-block-start: 0em;
}

.main > * {
    flex-grow: 1;
    flex-basis: 100%;
  }

.header {
    background: red;
    padding: 4px;
}

.asideLeft {
    background: green;
}

.asideRight {
    background: pink; 
}

.text {
    background: blue;
}

.footer {
    background: violet;
    padding: 4px;
}


@media screen and (min-width: 768px) {
    .text {flex: 8;}
    .asideRight {flex: 4;}

    .text {order: 1;}
    .asideRight {order: 2;}
    .asideLeft {order: 3;}
    .footer {order: 4;}

}

@media screen and (min-width: 992px) {
    .asideLeft { flex: 4;}
    .text {flex: 8;}
    .asideRight {flex: 4;}

    .asideLeft {order: 1;}
    .text {order: 2;}
    .asideRight {order: 3;}
    .footer {order: 4;}
}






  


 