* {
    margin: 0 auto; 
    padding: 0 auto;
    box-sizing: 0 auto;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #777;
}

hr { 
    background-color: #007bff;
    border: 0; 
    height: 1px;
    width: 70px;
 }

.btn {
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #007bff;
    padding: 14px 20px;
    display: inline-block;
    color: #333;
    cursor: pointer;
    transition: all 1s;
}

.btn:hover {
    background-color: #007bff;
    color: #fff;
}

header {
    height: 70vh;
    background-image: url('../img/header.jpg');
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
}